Django<4.2  # Django 4.2 does not support Postgres 11
python-swiftclient
python-keystoneclient
xlrd
djangorestframework
djangorestframework-gis
django-extensions
django-filter
django-rest-swagger
drf-amsterdam
drf_extensions
pyyaml>=4.2b1
psycopg2-binary
sentry-sdk
drf_yasg
django-choices
datapunt-objectstore
datapunt-authorization-django
setuptools # Without this pin a lower version of setuptools is installed, which poses a security vulnerability
