# Base dependencies
-r ./requirements.txt

# Test Libraries
flake8<4  # see https://github.com/tholo/pytest-flake8/issues/81
tox
model_bakery
isort
pytest
pytest-cov
pytest-django
coverage
ipdb

# Development Libraries
django-cors-headers
django-debug-toolbar
